jupyter
ipykernel
langchain_community
langchain
langchain-text-splitters
langgraph
tiktoken
chromadb
pip-system-certs
gradio
sentence-transformers
faiss-cpu
cairocffi
rapidfuzz==2.15.1
chardet
git+https://github.com/facebookresearch/detectron2.git
deepdoctection[pt]
